.App {
  text-align: center;
  text-decoration: none;
  width: 100%;
  border: 1px solid black;
  background-color: red;
  position: relative;
}

nav {
  background-color: blue;
  position: relative;
  min-height: 100px;
}

li {
  display: inline;
  background-color: aqua;
  position: absolute;
}

a {
  border: 1px solid black;
  text-decoration: none;
}

.home {
  left: 20%;
}

.signup {
  left: 49%;
}

.login {
  left: 80%;
}










